#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	# Post-install setup instructions
	mkdir -p debian/burma-automaton/usr/share/doc/burma-automaton
	cp QUICKSTART.md debian/burma-automaton/usr/share/doc/burma-automaton/
	cp RUN.md debian/burma-automaton/usr/share/doc/burma-automaton/
